* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-background{
  background-color: #05220a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title{
  color:#ffffff;
}

.ContainerForm {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 600px;
  width: 100%;
}

.MuiButton-root.buttonSearch{
  display: flex;
  border: solid 1px #006400;
  border-radius: 20px;
  color: #ffffff	;
  background-color: #4682B4;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
  font-weight: bold;  
  padding: 10px 100px;
  }

.MuiButton-root.buttonShowAll{
  display: flex;
  border: solid 1px #006400;
  border-radius: 20px;
  color: #ffffff;
  background-color: #4682B4;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 100px;
}

.MuiButton-root.buttonSearch:hover, .MuiButton-root.buttonShowAll:hover{
  background-color: #054b85;
  transform: scale(1.05);
}


.MuiFormControl-root.searchForm{
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  width: 100%; 
  background-color: #05220a;
}

